# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.vs
.vs
./node_modules
/node_modules
/authServer/node_modules
/braveChild/node_modules
/.pnp
.pnp.js
/authServer/certs

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env



npm-debug.log*
yarn-debug.log*
yarn-error.log*
/bravechild/build
/bravechild/node_modules
bravechildtest/node_modules/.cache/babel-loader/00a005901df08d960a3306fc4d90bdf1e9c4ab0d9711ab5c9bb90f02c8ab44cd.json
/bravechildtest/node_modules
