/* Background and Layout */
/*.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
} */

/* Dark overlay for readability */
/*.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* Headings */
/*.page h1 {
    font-size: 3rem;
    margin-bottom: 20px;
} */

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar-title {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    color: rgb(140, 0, 175);
}

.navbar-logo img {
    height: 100px;
    margin-right: 10px;
}

.navbar-list ul {
    margin: 0;
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-list ul li {
    display: inline;
    padding: 20px;
}

.navbar-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.homepage-content {
    margin-top: 150px;
    padding: 10px;
    margin-left: 80px;
    text-align: left;
    color: black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.homepage-content h2 {
    font-size: 1.5rem;
    font: arial;
    margin-bottom: 10px;
    color: rgb(47, 0, 255);
}

.homepage-content p {
    font-size: 1rem;
    font: arial;
    margin-bottom: 20px;
    color: black;
    margin-top: 10px;
    flex: auto;
}

.whatIsBraveChild-text {
    white-space: pre-line;
}

.equine-therapy-image3 {
    max-width: 600px;
    margin-right: 30px;
    margin-left: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.hippo-therapy h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(47, 0, 255);
    font-size: 1.5rem;
    font: arial;
    margin-left: 80px;
}

.hippo-therapy p {
    white-space: pre-line;
    font-size: 1rem;
    color: black;
    margin-left: 80px;
}


.hippo-therapy-content {
    display: flex;
    align-items: horizontal;
    justify-content: center;
    flex-direction: row;
}

.equine-therapy-image1 {
    max-width: 300px;
    margin-top: 30px;
    margin-left: 50px;
    flex: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.equine-therapy-image2 {
    max-width: 300px;
    margin-top: 30px;
    margin-left: 50px;
    flex: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.equine-therapy-image4 {
    max-width: 300px;
    margin-top: 30px;
    margin-left: 50px;
    flex: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.contact-us h2{
    margin-bottom: 10px;
    color: rgb(255, 0, 191);
    font-size: 1.5rem;
    margin-top: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-us p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: black;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.contact-us-list li {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font: arial;
    font-size: 1rem;
}
