.create-user-container {
    height: 100vh;
    min-height: 100%;
    padding: 16px;
}

    .create-user-container::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: radial-gradient(ellipse at 50% 50%, #e8f5e9, hsl(0, 0%, 100%));
        background-repeat: no-repeat;
    }

.create-user-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    padding: 32px;
    gap: 16px;
    margin: auto;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.create-user-title {
    width: 100%;
    font-size: clamp(2rem, 10vw, 2.15rem);
    color: rgb(140, 0, 175);
}

@media (min-width: 600px) {
    .create-user-container {
        padding: 32px;
    }

    .create-user-card {
        max-width: 450px;
    }
}
