.login-container {
    height: 100vh;
    min-height: 100%;
    padding: 16px;
}

    .login-container::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: radial-gradient(ellipse at 50% 50%, #e8f5e9, hsl(0, 0%, 100%));
        background-repeat: no-repeat;
    }

.login-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    padding: 32px;
    gap: 16px;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.login-title {
    width: 100%;
    font-size: clamp(2rem, 10vw, 2.15rem);
    color: rgb(140, 0, 175);
}

.signup-section {
    margin-top: 16px;
    text-align: center;
}

@media (min-width: 600px) {
    .login-container {
        padding: 32px;
    }

    .login-card {
        max-width: 450px;
    }
}
